body{
    background-color:gray;
}
div{
    background-color: azure;
    margin: 10px;
    height: 300px;
    width: 350px;
    text-align: center;
}
h1{
    text-align: center;
}
.id{
    height: 80px;
    width: 80px;
    margin: 10px ;
}
section{
    margin-left: 190px;
}
.p{
    color: grey;
}
button{
    height: 20px;
    font-size:xx-small;
    color: aliceblue;
    background-color: black;
}