  @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
  h1{
    font-family: 'Cinzel', serif;
    text-align: center;
  }
  hr{
    text-align: center;
    background-color: rgb(132, 219, 136);
    width: 150px;
    height: 5px;
  }
.id{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
div{
  background-color: rgb(224, 226, 229);
  height: 700px;
  width: 95%;
}
section{
  margin-left: 60px;
}
.indiv{
  background-color: rgb(224, 226, 229);
  height:400px;
  width: 500px;
  margin-left: 30px;
  margin-top:130px;
}
.indiv2{
  background-color:rgb(224, 226, 229);
  height:400px;
  width: 600px;
  margin-left: 250px;
  margin-top:130px;
}
p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:larger;
}
input{
  width: 500px;
  height: 30px;
  margin: 7px;
}
.right{
  margin-left: 8px;
  margin: 7px;
}
button{
  background-color:#ec0909;
  color: aliceblue;
  margin: 10px;
}