h2{
    text-align: center;
}
body{
    background-color: cadetblue;
}
div{
    height: 250px;
    width: 250px;
    margin: 10px;
    background-color:gray;
    text-align: center;
    font-size: small;
}
.img{
    font-size:x-large;
    margin: 10px;
}
button{
    background-color: black;
    color: aliceblue
}
section{
    margin-left:350px;
}