body{
    background-color: darkgray;
}
div{
    background-color:white;
    width:200%;
    height:350px;
    font-family: 'Work Sans', sans-serif;
    margin-left: 150px;
    margin-top: 80px;
}
section{
    margin-left: 250px;
    margin-top: 100px;
}
.p{
    margin-left: 50px;
    padding-top:10%;
}
p{
    margin-left:50px;
}
.div1{
    background-color:white;
    width:350px;
    height: 200px;
    margin-right: 50px;
    line-height: 50px;

}
.input{
    width:300px;
    height: 20px;
    margin: 5px;
}
.textarea{
    width:90%;
    height:45%;
    margin-left: 4px;
}
button{
    margin-left: 3px;
    width: 25%;
    height: 12%;
    background-color:rgb(255, 15, 15);
    color: white;
}
