  @import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body{
    background-image: url('anime.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.head{
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 120px;
}
.location{
    color: white;
    position: absolute;
    left: 65%;
    top: 30px;
    font-family: 'Agdasima', sans-serif;
}
.time{
    position: absolute;
    left: 78%;
    top: 30px;
}
.times{
    color: white;
    position: absolute;
    left: 79.5%;
    top: 30px;
    width: 150px;
    font-family: 'Agdasima', sans-serif;
}
.nav{
    background-color: white;
    height: 7vh;
    width: 85vw;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 30px;
    font-family: 'Prompt', sans-serif;
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    position: relative;
    bottom: 10px;
    right: 20px;
}
li:first-child{
    color: orangered;
}
li:hover{
    color: gray;
}
.icon:hover{
    background-color: aquamarine;
}
.social{
    float: right;
}
.top{
    position: absolute;
    top:250px;
    left: 120px;
    font-size:large;
    color: orangered;
    font-family: 'Cabin', sans-serif;
}
.content{
    position: absolute;
    top: 250px;
    left: 120px;
    width: 350px;
    color: white;
    font-size:50px;
    font-family: 'Bebas Neue', sans-serif;
}
.top1{
    position: absolute;
    top: 420px;
    left: 120px;
    color: white;
    font-size:large;
    font-family: 'Cabin', sans-serif;
}
button{
    position: relative;
    top: 480px;
    left: 110px;
    height: 50px;
    width: 150px;
    background-color: rgb(232, 48, 67);
    border: 0px;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Cabin', sans-serif;
}