body{
    background-color: cornsilk;
}
table{
    border-collapse:collapse ;
    width: 50%;
}
th,td{
    text-align: center;
    height: 50px;
}
th{
    background-color:rgb(7, 196, 174);
}
td{
    background-color: aliceblue;
}
td:hover{
    background-color:dimgray;
    color: aquamarine;
}
.border{
    border-bottom:3px solid rgb(7, 196, 174);
}